<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[야밤의금오톡] '세미나 발표 정리' 새 글 알림</title>
</head>
<body>
<p>안녕하세요, 야밤의금오톡 뉴스레터를 구독해주신 여러분!</p>

<p>지난 야밤의금오톡 IT 세미나에서 진행되었던 내용에 대한 게시물이 업로드 되었습니다.</p>

<p>본 게시글에는 세미나에서 다뤘던 핵심 내용이 간결하게 정리되어 있으니,<br>
    발표에서 다룬 주요 사항들을 확인하시고 여러분의 학습에 도움이 되기를 바랍니다.</p>

<ul>
    <li>
        <h3>주제 : <span th:text="${title}">게시글 제목</span></h3>
    </li>
    <li>
        <h3>작성자 : <span th:text="${author}">작성자</span></h3>
    </li>
    <li>
        <h3>게시글 바로가기 : <a th:href="${link}"> 게시글 링크</a></h3>
    </li>
</ul>

<p>
    세미나의 녹화본을 보고 싶으신 분들은 아래에서 확인하실 수 있습니다.<br>
    <strong>유튜브 바로가기: </strong>
    <a href="https://www.youtube.com/@midnight_kumoh_talk">https://www.youtube.com/@midnight_kumoh_talk</a>
</p>

<p>
    게시글을 읽으신 후 궁금한 점이나 더 알고 싶은 내용이 있으시면, 댓글로
    남겨주시면 감사하겠습니다.
</p>

<p>[야밤의 금오톡 기술 블로그팀]</p>
</body>
</html>
